[user]
	email = thedarelis@gmail.com
	name = Themis Darelis
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[push]
  autoSetupRemote = true
[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
  ph = push
  pu = pull
  sw = switch
  lg = log --oneline --graph --all --decorate
