[user]
	name = Themis Darelis
	email = tdarelis@deloitte.gr
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[push]
  autoSetupRemote = true
[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
  ph = push
  pl = pull
  sw = switch
  lg = log --oneline --graph --all --decorate
